<div class="example-container" role="application">
  <mat-toolbar class="example-toolbar" color="primary" style="background: linear-gradient(to right, #5b73e8, #44c4fa);" role="banner">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Toggle navigation menu"
      (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Inua Mkulima App</span>
    <span class="example-spacer"></span>
    <span>
      logged in as : Kimshan
      <button mat-raised-button
              (click)="logout()"
              aria-label="Logout from application"
      >
        logout
      </button>
    </span>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    role="main"
  >
    <mat-sidenav
      #snav
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [attr.aria-label]="'Main navigation menu'"
      fixedTopGap="56"
      [opened]="true"
    >
      <!--      <div class="profile-card">-->
      <!--        <div class="header">-->
      <!--          <div class="sidebar-header">-->
      <!--            <div class="user-profile">-->
      <!--&lt;!&ndash;              <img src="{{ userImg }}" alt="User Image" class="user-image" />&ndash;&gt;-->
      <!--&lt;!&ndash;                                <small>{{this.role}}</small>&ndash;&gt;-->
      <!--&lt;!&ndash;                    [style.width.px]="isSidenavOpened ? 230 : 64 "&ndash;&gt;-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <mat-divider></mat-divider>
      <mat-nav-list role="menu">
        @for (item of menuItems; track item) {
          <a
            class="nav_items_sub"
            routerLinkActive="active-route"
            mat-list-item
            [routerLink]="[item.path]"
            [ngClass]="[item.class]"
            [routerLinkActiveOptions]="{ exact: true }"
            [attr.aria-label]="item.name"
            role="menuitem"
          >
            <mat-icon matListItemIcon style="color: black" [attr.aria-hidden]="true">{{
                item.icon
              }}</mat-icon>
            <span matListItemTitle style="color: black">{{ item.name }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
      </div>
      <div class="main-content">
        <div class="bottom_toolbar">
          <mat-toolbar class="bread_toolbar">
            <div style="display: flex; justify-content: space-between">
              <div><h4>Product details</h4></div>
            </div>
          </mat-toolbar>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
