

<mat-card>
  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <mat-card-content >

    <div class="card-product api-grid">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
         Actions
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="toggleSelection(row)"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
      <div class="second-card">
        <h3>Selected Product Details</h3>
        <div *ngFor="let product of selectedProducts">
          <p><strong>Name:</strong> {{ product.title }}</p>
          <p><strong>Price:</strong> {{ product.price | currency }}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
  <div style=" display: flex; justify-content: space-between; text-align: center; margin-top: 30px">

    <button mat-flat-button>
      Back
    </button>
    <button mat-raised-button color="primary" (click)="navigateToDetails()">
      Deduct {{totalPrice | currency}}
    </button>
<!--    <p style="color: white"><strong>Total Selected Price:</strong> {{ totalPrice | currency }}</p>-->
  </div>

