<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button
      mat-stroked-button
      class="special-effect"
      style="color: #42d6ca"
      aria-label="Example icon-button with menu icon"
      (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
      <span>MVP 1.0</span>
    </button>
    <span class="example-spacer"></span>
    <button
      (click)="headHome()"
      mat-stroked-button
      class="special-effect"
      style="color: #42d6ca"
      aria-label="Example icon-button with share icon">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      class="bg-setup"
      fixedTopGap="56"
      opened="true">
      <div class="profile-card">
        <div class="header">
          <div class="sidebar-header">
            <div class="user-profile">
              <!--              <img src="{{ userImg }}" alt="User Image" class="user-image" />-->
              <!--                  <small>{{this.role}}</small>-->
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <app-nav-items [menuItems]="menuItems"></app-nav-items>
    </mat-sidenav>
    <mat-sidenav-content>
      <div></div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
