<mat-nav-list>
  @for (item of menuItems; track item) {
    <a
      class="nav_items_sub"
      routerLinkActive="active-route"
      mat-list-item
      [routerLink]="[item.path]"
      [ngClass]="[item.class]"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon matListItemIcon style="color: whitesmoke">{{
        item.icon
      }}</mat-icon>
      <span matListItemTitle style="color: whitesmoke">{{ item.name }}</span>
    </a>
  }
</mat-nav-list>

<!--<mat-nav-list>-->
<!--  @for (item of menuItems; track item) {-->
<!--    <a-->
<!--      class="nav_items"-->
<!--      mat-list-item-->
<!--      (click)="callLevel1Toggle($event, item.moduleName)"-->
<!--      [class.active]="-->
<!--        level1Menu === item.moduleName && item.sub_menu.length !== 0-->
<!--      "-->
<!--      [routerLink]="item.class === '' ? [item.path] : null"-->
<!--      [ngClass]="[item.class]">-->
<!--      <mat-icon matListItemIcon style="color: whitesmoke">{{-->
<!--        item.icon-->
<!--      }}</mat-icon>-->
<!--      <span matListItemTitle style="color: whitesmoke">{{ item.name }}</span>-->
<!--    </a>-->
<!--    @for (sidebarSubItem of item.sub_menu; track sidebarSubItem) {-->
<!--      @if (level1Menu === item.moduleName) {-->
<!--        <a-->
<!--          routerLinkActive="active-route"-->
<!--          mat-list-item-->
<!--          class="nav_items_sub"-->
<!--          [routerLink]="-->
<!--            sidebarSubItem.sub_menu.length > 0 ? null : [sidebarSubItem.path]-->
<!--          "-->
<!--          [ngClass]="[sidebarSubItem.class]">-->
<!--          <mat-icon matListItemIcon style="color: whitesmoke">{{-->
<!--            sidebarSubItem.icon-->
<!--          }}</mat-icon>-->
<!--          <span matListItemTitle style="color: whitesmoke">{{-->
<!--            sidebarSubItem.name-->
<!--          }}</span>-->
<!--        </a>-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--</mat-nav-list>-->
