.mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none !important;

  &.mat-expansion-panel-spacing {
    margin: 0px;
  }

  .mat-expansion-panel-body {
    padding: 0px;
  }

  .mat-expansion-panel-header {
    height: 40px;
    padding: 0px 24px 0px 16px;
    font-size: 16px !important;
    font-weight: 450 !important;
    letter-spacing: normal !important;
  }
}
.nav_items:hover {
  background: #7f7f7f;
}
.nav_items_sub {
  padding: 3px;
}
.active-route {
  border-left: 4px solid #a32a29 !important;
  outline-width: 0;

  .nav-items .nav-items-text {
    color: #a32a29;
  }

  .nav-items .nav-items-btn .nav-items-icon svg {
    fill: #a32a29;
    color: #a32a29;
  }

  .mat-icon svg {
    fill: #a32a29;
    color: #a32a29;
  }
}
